*{
    padding: 0;
    margin: 0;
}

body{
    height: auto;
}
header {
    background-color: #00AFF0; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno del encabezado */
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-between; /* Alinear elementos en el encabezado */
    height: 3vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo del botón */
}



/* Estilos para el logotipo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; /* Ancho de la imagen del logotipo */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espaciado a la derecha de la imagen */
    cursor: pointer; /* Cambiar el cursor al hacer clic en la imagen */
}

/* Estilos para los botones */
.botones {
    display: flex; /* Mostrar botones en línea */
    align-items: center; /* Alinear botones verticalmente al centro */
    
}

.boton {
    background-color: #00AFF0; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px; /* Espaciado interno del botón */
    margin-left: 10px; /* Espaciado entre botones */
    cursor: pointer;
    font-family: 'Fira Code', monospace;
}

.boton + .boton {
    border-left: 1px solid #fff; /* Línea entre botones */
}


/*css de la imagen inicial///////////////////////////////////////////////////////////////////////////*/
.imagen_1{
    width: 100%;
    height: 44.5vw;
    position: relative;
    display: inline-block;
    font-family: 'Fira Code', monospace;
}

.imagen_1 img {
    display: block;
    width: 100%;
    height: 44.5vw;
}

.capa-de-oscurecimiento {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50); /* Color de fondo semitransparente */
}

.boton-sobre-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 175, 240, 100);
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Fira Code', monospace;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo del botón */
}

.texto-sobre-boton {
    position: absolute;
    top: 41%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
}

.rectangulo-izquierdo, .rectangulo-derecho {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0);
    border: #00b0f000;
}

.rectangulo-izquierdo {
    left: 0;
}

.rectangulo-derecho {
    right: 0;
}

.rectangulo-izquierdo:hover, .rectangulo-derecho:hover {
    background-color: #00b0f01f; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Puedes ajustar el color del texto si lo deseas */
}


/*css del siguiente div ////////////////////////////////////////////////////////////////////////////*/

.cuadro-post-imagen{
    background-color: #F3F3F3;
    height: 10vw;
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos flexibles */
    align-items: center; /* Alineación vertical al centro */
}

.boton-izquierdo,
.boton-derecho {
    padding: 20px 30px;
    background-color: #00AFF0;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 10vw;
    font-family: 'Fira Code', monospace;
    width: 20vw;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo del botón */
}

.quienes-somos {
    display: flex;
    justify-content: center;
    font-family: 'Fira Code', monospace;
}

.columna-izquierda {
    max-width: 649px; /* Ancho máximo permitido para la columna izquierda */
    width: 100%;
    background-color: #ffffff; /* Color de fondo (opcional) */
    display: flex;
    flex-direction: column;
}

.columna-derecha {
    max-width: 494px;
    width: 100%;
    background-image: url('imagenes/edicion vi.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 31px;
    border-radius: 1vw;
}

.columna-izquierda .contenedor-superior {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 20px; /* Añade espaciado alrededor del contenido */
}

.columna-izquierda .titulo {
    font-size: 24px;
    font-weight: bold;
}

.columna-izquierda .texto {
    margin-top: 10px;
}

.contenedor-superior .boton {
    margin-top: 10px;
    background-color: #00AFF0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.columna-izquierda .imagen {
    height: 520px;
    width: 100%;
    background-image: url('imagenes/pintura.jpeg');
    background-size: cover;
    background-position: center;
    margin-right: 31px;
    border-radius: 1vw;
}


.columna-derecha .imagen{
    background-image: url('imagenes/edicion vi.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 31px;
    border-radius: 1vw;
    width: 100%;
}

/*columna dos///////////////////////////////////////////////////////*/
.mas-cursos {
    display: flex;
    justify-content: center;
    font-family: 'Fira Code', monospace;
}

.mas-cursos .columna-izquierda2 {
    max-width: 494px; /* Ancho máximo permitido para la columna izquierda */
    width: 100%;
    background-color: #ffffff; /* Color de fondo (opcional) */
    display: flex;
    flex-direction: column;
}

.mas-cursos .columna-derecha2{
    max-width: 649px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-left: 31px;
    border-radius: 1vw;
}

.mas-cursos .columna-izquierda2 .imagen2{
    height: 740px;
    width: 100%;
    background-image: url('imagenes/android.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 31px;
    border-radius: 1vw;
}

.mas-cursos .columna-derecha2 .imagen2{
    height: 520px;
    width: 100%;
    background-image: url('imagenes/JavaScript_logo.png');
    background-size: cover;
    background-position: center;
    margin-right: 31px;
    border-radius: 1vw;
}


.contenedor-inferior:hover .imagen {
    filter: brightness(50%); /* Oscurece la imagen en hover */
}

.columna-izquierda2:hover .imagen2 {
    filter: brightness(50%); /* Oscurece la imagen en hover */
}

.columna-derecha2:hover .imagen2 {
    filter: brightness(50%); /* Oscurece la imagen en hover */
}




.footer {
    height: 300px;
    background-color: #00AFF0; /* Color de fondo del footer */
    padding: 10px;
}

.logotipo {
    float: left;
    width: 30%; /* Tamaño del logotipo grande */
    padding: 10px; /* Espaciado alrededor del logotipo */
}

.imagenes-pequenas {
    float: right;
    width: 2%; /* Tamaño de cada imagen pequeña */
    margin-right: 2%; /* Espacio entre las imágenes pequeñas */
}

.clear {
    clear: both; /* Limpia los flotantes */
}


